.banner-container {
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 500px;
  overflow: hidden;
}

.banner-inner-container {
  display: flex;
  flex-direction: column;
}
.banner-second-div {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: -6;
}

@media (max-width: 600px) {
  .banner-second-div {
    display: none;
  }
  .banner-container {
    height: 200px;
    align-items: center;
  }
}
