.banner-container {
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  height: 500px;
}

.banner-second-div {
  margin-top: 100px;
}
